.main-bg-color{
    background-color: #FFF9F4;
}
.bg-color-2{
    background-color: #F1F1F1;
}
.btn-bg{
    background-color: #3949D7;
}
.text-color-1{
    color: #FA804C;
}
.text-color-2{
    color: #363958;
}